@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Burası Blog Area Alanı</h1>
    <p>Learn about <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Area Alanına geçmek için tıklayınız</a>.</p>
</div>
