@model AspBlogSitesi.Entities.Dtos.UserPasswordChangeDto
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<header class="page-header">
    <h2>Şifre Değiştir</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li><span>Şifre Değiştir</span></li>
            <li><span>Kullanıcı</span></li>
        </ol>

        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
    </div>
</header>
<div class="row">
    <div class="col-lg-12">
        <div class="panel mt-1">
            <div class="panel-heading">
                <h1 class="text-center"><span class="fas-fa-key"></span> Şifre Değiştir</h1>
            </div>
            <form asp-action="PasswordChange" asp-controller="User" method="post" id="form-user-update">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                      
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input type="password" class="form-control" asp-for="CurrentPassword" placeholder="Lütfen, mevcut şifrenizi giriniz" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="Lütfen, yeni şifrenizi giriniz" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword"></label>
                            <input type="password" class="form-control" asp-for="RepeatPassword" placeholder="Lütfen, yeni şifrenizi tekrar giriniz" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-block"> <span class="fa fa-save"></span> Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

